{% extends 'produtos/base.html' %}
{% block conteudo %}

<style>
    .centralizar{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
</style>

<form class="centralizar" action="{% url 'resultados' %}" method="POST">
    <div>
        <h1>Pesquisar</div>
            <input type="text" class="form-control-lg" name="produto" placeholder="Pesquisar...">
            <input class="form-control-lg" type="submit" value="🔎">
</form>

{% endblock %}